*{
    margin:0;
    padding: 0;
}
body{
    padding:40px;
    background-color:#000;
}
#box{
    max-width: 400px;
    margin: auto;
    padding: 16px;;
    border-radius: 16px;
    background:white;
    box-shadow: 0 10px 30px rgba(47, 95, 238, 0.1);
}
.card{
    text-decoration: none;
    background-color:rgba(122, 240, 12, 0.1);
    border:2px solid white;
    border-radius: 20px;
    margin-bottom: 40px;
    padding:40px;
    display:block;
    color:white;
    text-align: center;
    font-size:20px;
    color:white;
    background-color:rgb(148, 57, 233);
    

}
h1{
    text-align: center;
    font-weight: 700;
    color:aqua;
    padding: 16px;
    margin-bottom: 10px;
    
}
.card:last-child{
    margin-bottom: 0;
}
.card:hover{
    background:rgba(29, 180, 235, 0.5);
}